<a href="https://colab.research.google.com/github/vfcv/vfcv/blob/main/PrimeiroCRUDemPython_e_SQlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

banco = sqlite3.connect('primeiro_banco.db')
cursor = banco.cursor()
#CRIAR TABELA com parametros de Nome, Idade, e Email
#cursor.execute("CREATE TABLE pessoas (nome text,idade integer,email text)")
#Apos incluir um dado no banco de dados "banco" é necessario incluir comentario para que nao haja duplicações
#cursor.execute("INSERT INTO pessoas VALUES('Maria',40,'maria123@gmail.com')")
cursor.execute("INSERT INTO pessoas VALUES('Joao',50,'joao123@gmail.com')")
banco.commit()

cursor.execute("SELECT * FROM pessoas")
print(cursor.fetchall())

[('Maria', 40, 'maria123@gmail.com'), ('Maria', 40, 'maria123@gmail.com'), ('Maria', 40, 'maria123@gmail.com'), ('Joao', 50, 'joao123@gmail.com'), ('Joao', 50, 'joao123@gmail.com')]